.finance_scope {
  background-color: #051139;
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  min-height: 100vh;
  justify-content: center; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form_container {
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


.form_auth {
  width: 100%;
  margin-top: 8px;
}

.submit {
  margin: 24px 0 16px;
}

@media (max-width: 600px) {
  .form_container {
    padding: 10px;
  }

  .submit {
    margin: 16px 0 8px;
  }
}
