.accountDistributionChart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
}

.analyticsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.accountDistributionChart, .transactionsByDateChart {
    width: 60%;
    height: auto;
}

.dateFilterForm {
    display: flex;
    gap: 10px;
}